<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨static/css/styles.css¨>


</head>
<body>
    <script src="static/js/script.js"></script>
    <div id="main">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#0">Home</a></li>
        <li><a href="#0">About</a></li>
        <li class="dropdown">
          <a href="#0" class="dropdown-toggle" data-toggle="dropdown" data-target="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients<span class="caret"></span></a>
          <ul class="dropdown-menu" id="dropdon-menu">
            <li><a href="#0">Burger King</a></li>
            <li><a href="#0">Southwest Airlines</a></li>
            <li><a href="#0">Levi Strauss</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#0" class="dropdown-toggle" data-toggle="dropdown" data-target="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu" id="dropdon-menu">
            <li><a href="#0">Print Design</a></li>
            <li><a href="#0">Web Design</a></li>
            <li><a href="#0">Mobile App Development</a></li>
          </ul>
        </li>
        <li><a href="#0">Contact</a></li>
      </ul>
    </nav>
    </div>
    <h1>Niv's Dragon Eggs Shop!</h1>
    <h2>In my shop you can find dragon eggs to buy, maybe to you or maybe to your friends!<br>
Dragon eggs are large eggs with tiny scales, which shimmer like polished metal in the sunlight.<br> Dragon eggs come in a variety of rich colors. My Shop is the only place you can find eggs to buy, so tell your friends about us and come get your chosen egg!</h2>

<ul class="icons">

    <a href="http://127.0.0.1:5000/product1"><img src = "static/egg.png" width = 100><span class="label"><-Eggs</span></a>
    <a href="#"><img src = "static/taming.png" width = 100><span class="label"><-Taming Products</span></a>
    <a href="#"><img src = "static/cage.png" width = 100><span class="label"><-Cages</span></a>
    <a href="#"><img src = "static/spells.png" width = 100><span class="label"><-Spells</span></a>
    <a href="#"><img src = "static/hatching.png" width = 100><span class="label"><-Hatching Supplies</span></a>

    </ul>

<img src="static/dragoneggs1.jpg">

<h2><a href = "http://127.0.0.1:5000/cart">Shopping Cart--></a></h2>
</body>
</html>