<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <h1>African Dragon Egg</h1>
    <h2>Description:<br>Dragons in African folklore have evolved independantly from the dragons in European and Asian folklore and religions, and therefore do not share too many similarities with them.<br> However, myths of giant, supernatural serpentine or reptilian creatures persevere even in environments where real 'dragons' exist (pythons and crocodiles) and so this page will serve as a brief overview of dragons found throughout the continent of Africa.</h2>
    <img src = "static/african1.jpeg">
    <h2>Price of an egg: 249.90$</h2>
    <a href='http://127.0.0.1:5000/'>Go Back</a>
</body>
</html>